<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>New Project Form</title>
    <!-- Bootstrap and jQuery for the datetime picker-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/datepicker.js}"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    

</head>
<body>
<div class="container" id="new-form">
    <div class="row">
		<form action="#" th:action="@{/projects/new}" th:object="${project}" method="post">
		  <div class="form-group row">
		    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
		    <div class="col-sm-10">
	  		  <input id="inputName" type="text" th:field="*{name}" placeholder="Name"><br>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="client" class="col-sm-2 col-form-label">Client</label>
		    <div class="col-sm-10">
	   			 <input id="client" type="text" th:field="*{client}" placeholder="Client"><br>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="characters" class="col-sm-2 col-form-label">Characters</label>
		    <div class="col-sm-10">
	   			 <input id="characters" type="text" th:field="*{characters}" placeholder="Characters"><br>
		    </div>
		  </div>
		  
			<div class='col-lg-12'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='datetime-local' th:field="*{deadline}" placeholder="Deadline [DD.MM.YYYY HH:mm]" class="form-control" />
                            <span class="input-group-addon">
                        		<span class="fa fa-calendar"></span>
                   		 	</span>
                        </div>
                    </div>
                </div>
		  
		  <div class="form-group row">
		    <div class="col-sm-10">
		      <button type="submit" class="btn btn-outline-primary btn-block">
		      	<ion-icon name="add"></ion-icon>Add
		      </button>
		    </div>
		  </div>
		</form>
	</div>
</div>


<a class="btn btn-outline-secondary" id="back-button" th:href="@{/projects}">
	<ion-icon name="arrow-round-back"></ion-icon>Back to Project List
</a>

</body>
</html>